*{
	border-radius: 0px !important;
}

body{
	color: #666;
	font-size: 1em;
	line-height: 25px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	border-top: 2px solid #1570a6;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal !important;
	margin: 2px 0px 5px 0px;
	padding: 2px 0px;
	color: #666;
}

h1,h2{
	font-weight: 300 !important;
}

h3,h4,h5,h6{
	font-weight: 400 !important;
	color: #666;
}

h1 {
	font-size: 2em;
	line-height: 55px;
}
h2{
	font-size: 1.8em;
	line-height: 1.5em;
}

h3{
	font-size: 1.3em;
	line-height: 1.3em;
}

h4{
	font-size: 1.2em;
	line-height: 1.2em;
}

h5{
	font-size: 1em;
	line-height: 1em;
}

h6{
	font-size: 0.95em;
	line-height: 0.95em;
}

p{
	margin: 2px 0px;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{
	margin: 15px 0px;
}

:focus {
	outline:none;
	border: 0;
}

::-moz-focus-inner {
	border:0;
}

.border{
	height: 5px;
	margin: 30px 0px !important;
}

.bor{
	height: 20px;
}

.bold{
	font-weight: 600 !important;
}

.caps{
	text-transform: uppercase;
}

.center{
	text-align: center;
}

.grey{
	color: #666;
}

.big{
	font-size: 20px !important;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	font-weight: 300;
}

a.btn{
	margin-top: 6px;
}


.link-list a{
	margin-right: 20px;
}

.padd{
	padding: 10px 15px;
}

.label{
	font-size: 15px;
}

.badge{
	font-size: 15px;
	padding: 5px 10px;
}

/* Blue */

a{
	color: #1570a6;
}

a:hover{
	color: #374350;
}

blockquote{
  border-left: 3px solid #1570a6;
  background: #f6f6f6;
  font-size: 0.95em;    
  margin: 20px 0px;
}

.color{
	color: #1570a6;	
}


/* Form */


form{
  margin:20px 0px;
}

section {
    font-size:0.95em;
    font-weight:normal;
}

.justify {
    text-align:justify;
}

/* Button */

.btn-default{
   background:#f6f6f6;
   border:1px solid #eee;
   color:#555;
}

.btn-default:hover{
   background:#eee;
   border:1px solid #ddd;
   color:#444;
}

.button a, .button a:visited{
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
	padding: 5px 8px;
	margin-top: 3px;
}

.button a:hover{
	color: #fff;
	text-decoration: none;
}

/* Well */

.well{
	background: #fafafa;
	padding: 15px;
	border: 1px solid #eee;
}

/* Colors */

.orange{
	color: #ff8838 !important;
}

.purple{
	color: #9b59bb !important;
}	

.blue{
	color: #1570a6 !important;
}

.green{
	color: #41bb19 !important;
}

.lgreen{
	color: #79c161 !important;
}

.lblue{
	color: #1da4e5 !important;
}

.red{
	color: #ff3738 !important;
}

.lred {
	color: #ff7273 !important;
}

.oblue {
  color: #0c6ea8 !important; 
}

.yellow {
  color: #dbcc1d !important; 
}
/* Background colors */

.b-oblue{
	background: #1570a6;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;
}

.b-orange{
	background: #fe781e;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;
}

.b-orange:hover{
	background: #e66d1c;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
}

.b-purple{
	background: #9b59bb;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;	
}

.b-purple:hover{
	background: #81499c;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;		
}

.b-blue{
	background: #1570a6;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;		
}

.b-blue:hover{
	background: #11608f;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;		
}

.b-green{
	background: #41bb19;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;	
}

.b-green:hover{
	background: #379e15;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;		
}

.b-black{
	background: #333333;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;	
}

.b-black:hover{
	background: #000000;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;		
}

.b-lblue{
	background: #1ba1e2;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;	
}

.b-lblue:hover{
	background: #1789c1;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;		
}

.b-red{
	background: #ff3738;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;	
}

.b-red:hover{
	background: #e33031;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:backgrou    nd 1s ease;		
}

.b-greyblue{
	background: #666;
	color: #fff;
	margin: 3px 0px;
	display: inline-block;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;	
	cursor:default;	
}

.b-greyblue:hover{
	background: #1570a6;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:backgrou    nd 1s ease;		
}

.container{
   max-width:100%;
}

/* Header */

header{
	background: #fff;
}

header .logo{
	padding: 15px 0px;
}
header .logo img{
  width: 100%;
  height: 100%;
}

header .logo h1{
	font-size: 2.5em !important;
	line-height: 1em;
  letter-spacing: 0.1em;
}

header .logo h1 a, header .logo h1 a:visited, header .logo h1 a:hover{
	color: #f00;
	text-decoration: none;
}

header .logo .hmeta{
	color: #777;
  letter-spacing:0.2em;
  font-size: 0.85em;
}

header form{
	margin: 0 auto;
	width: 100%;
	padding-top: 40px;
}
.header-img {
    background: url("");
    background-size: 20px 20px;
    background-position: right;
    
}
/* Navigation */


.navbar *,.nav-collapse *{
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: 0px !important;
	font-weight: normal !important; 
	font-size: 14px !important;
  padding: 0;
}

.navbar .navbar-collapse{
   padding-left:0px;
}

.navbar{
	background: #f7f7f7;
	filter: none !important;

}

.navbar button{
	font-size:13px;
	padding:6px 10px;
	color: #fff !important;
}

.navbar .caret{
	border-top-color:#797979 !important;
	border-bottom-color:#797979 !important;
}

.navbar{
	border-top: 1px solid #d6d6d6 !important;
	border-bottom: 1px solid #d6d6d6 !important;
}

.navbar .nav > li > a, .navbar .nav > li > a:visited{
	color: #666;
	padding:15px 15px 15px;
	filter: none !important;
}

.navbar .nav > li > a:hover{
	background: #f3f3f3 !important;
}

.navbar .nav > .active > a {
    font-weight: bold !important;
    border-bottom: 2px solid #1570a6;
    /*background: #fff;*/
    color: #1570a6 !important;
}

.navbar .icon-bar{
   background: #1570a6;
}

.navbar .dropdown-menu {
	border-left: 2px solid #1570a6 !important;
	border-right: 1px solid #eee !important;
	border-bottom: 1px solid #eee !important;
}

/**** body *****/


div.banner {
  padding: 0px 0px;
	width: 100%;
	position: relative;
	margin: 0px 0px auto;
/*  background:url(/gps3/img/bluebannerbackground.jpg);
  background-repeat:no-repeat;
  background-position: top right;
  background-size: 100% 100%;
*/
}

div.banner h2{
  font-size: 2.85em;
  padding-top: 10px;
  letter-spacing: 0.5px;
 	text-shadow: 0.5px 0.5px 0.5px rgba(150, 150, 150, 1);
  color: #1570a6;
  font-weight: bold !important;
}

div.banner ul{
  line-height: 2em;
  font-size: 1.25em;
}

.head1  {
    position: relative;
    font-size: 50px;
    margin-top: 0;
    font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
    text-shadow: 1px 1px 3px #888;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px 1570a6;
    line-height: 60px;

}
.head1 a {
    text-decoration: none;
    color: #1570a6;
    position: absolute;

    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    text-shadow: 0 1px 0 #1570a6;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.head1:after {
    color: #1570a6;
    content : attr(data-title);
}

.head2  {
    position: relative;
    font-size: 40px;
    margin-top: 0;
    font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
    text-shadow: 1px 1px 2px #4b4b4b;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px 1570a6;
    line-height: 40px;

}
.head2 a {
    text-decoration: none;
    color: #1570a6;
    position: absolute;

    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    text-shadow: 0 1px 0 #1570a6;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.head2:after {
    color: #1570a6;
    content : attr(data-title);
}


div.bx-viewport{
    height: 250px !important;
}
img.logo-home {
    width: 100%;
}

.newspaper .newspaper-icon{
	float: left;
	width: 40px;
}

.newspaper .newspaper-icon i{
	font-size: 30px;
	display: block;
	margin-top: 5px;
}

.newspaper .newspaper-content{
	position: relative;
	margin-left: 50px;
}

.newspaper h5{
	line-height: 15px;
}

.newspaper h5{
	line-height: 15px;
}

.newspaper .row hr{
	margin: 10px 0px;
}

.newspaper .row .grey{
	color: #999;
}
.newspaper {
    font-size:1em;
}
.content{
	margin-top: 0px;
}

.newspaper a {

}
.content a{
  color: #0176bc;
}

.content ul{
	list-style-type: none;
	margin-left: 0px;
  	padding-left:0px;
}

.content ul li{
	padding: 2px 0px;
}

.content header {
    padding-top:20px;
    text-align: left;
}
.content .desc p {
    padding:10px 0px;
}

#contact .address {
    font-size: 0.95em;
}

/*.biog {
	width: 350px;
	margin: 20px 10px;
	padding: 5px;
	background: #eee;
	z-index: 1;
	float: left;
	overflow: hidden;
}
.biog:hover {
}
*/
.biog_container {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 100px;
    z-index: 1;
		margin: 20px 0px;
		padding: 0px 0px;
		background: #eee;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px !important;

}
.biog_container:hover {
    z-index: 2;

}

.biog {
    position: absolute; 
    display: inline-block;
    width: 350px;
    height: 100px;
  	/*margin: 20px 0px;*/
    width: 350px;
    margin: 0px 0px 0 -0px;
    height: auto;
    background: #eee;
    padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px !important;
    background-clip: padding-box;
    /*transition: height 0.3s ease 0.5s;*/
    -webkit-transition: width 0.1s, height 0.1s, margin 0.1s;
    -moz-transition: width 0.1s, height 0.1s,  margin 0.1s;
    -ms-transition: width 0.1s, height 0.1s, margin 0.1s ;
    transition: width 0.1s, height 0.1s,  margin 0.1s;
}
.biog:hover {
    width: 350px;
    margin: 0px 0px 0 -0px;
    height: auto;
    background: #f9f9f9;
    padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px !important;
    background-clip: padding-box;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
    /*transition: height 0.3s ease 0.5s;*/
    -webkit-transition: width 0.1s, height 0.1s, margin 0.1s;
    -moz-transition: width 0.1s, height 0.1s,  margin 0.1s;
    -ms-transition: width 0.1s, height 0.1s, margin 0.1s ;
    transition: width 0.1s, height 0.1s,  margin 0.1s;

}

.biog_oneliner {
	display: none;
	font-size: 80%;
}
/*
.biog_oneliner { 
	overflow: hidden; 
	width: 350px; 
	font-size: 80%; 
	height: 20px; 
	position: absolute;
	z-index: 1; 
}
.biog_oneliner:hover { 
	overflow: auto; 
	height: auto; 
	margin: 0 0 0 -30px; 
	width: 400px; 
	z-index: 2; 
	background: #eee;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-clip: padding-box;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: White;
    padding: 10px;
}
*/

.biog_img {
	float: left;
	height: 100px;
}

.biog_addr{
	font-size: 80%;
	padding: 10px 0 0 10px;
	/*float: left;*/
	/*margin: 10px 0 0 0px;*/
	/*height: 100px;*/
	overflow: hidden;
}
.biog_addr h4{
	font-size: 120%;
	color: #555;
}
.biog_addr  a{
	float: right;
}



.rounded-img {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	border: solid 1px #555;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50% !important;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}
.rounded-img-unknown img{
}
.clear {
	clear: both;
}
.toggle-head .desc {
    display: none;
}

.content img {
  width: 100%;
}

.content .img-desc {
  font-size: 0.6em;
  color: #969696;
  text-align: center;
  line-height: 1em;
}

.italics {
  font-style: italic;
}
.popover{
    width:500px;
    height:250px;    
}


/******** Video embedding - Respponsive CSS *****/

.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.other-links {
    text-align:left;
    font-size: 0.95em;
    line-height: 20px;
}


/* ==========================================================================
   Styling the News Ticker
   ========================================================================== */

ul#ticker {
    width: 100%;
    height: 130px;
    overflow: hidden;
    list-style-type: none;
    font-size: 1em;
}
 
ul#ticker  li {
    width: 90%;
    height: 120px;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
}
 
ul#ticker li a {
    color: #666;
}
 
ul#ticker li span {
    display: block;
    color: #06C;
}

/******** Settings for a block ***********/
div.block {
  border: 1px solid #ddd;
  border-left-style: solid;
	border-left-width: 10px;
	background-color: #FFF;
}

div.block fieldset {
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
}

div.block fieldset input.text {
	border: 1px solid #666666;
	padding: 3px 6px;
	color: #333333;
}

div.block fieldset input.error {
	border: 1px solid red;
}

div.block fieldset input.send {
	border: 1px solid #666666;
	padding: 3px 6px;
	background: #333333;
	color: #fff;
	cursor: pointer;
}

div.block fieldset legend {
	padding: 5px 10px;
	font-weight: bold;
}

div.block fieldset p {
	margin: 8px 0;
}

div.block fieldset label {
	float: left;
	width: 180px;
}

div.block fieldset label.error {
	float: none;
	margin-left: 5px;
	color: red;
}


/* Image blocks */

ul.hover-block{
  list-style:none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.hover-block li{
	list-style:none;
	float:left;
	width: 150px; 
	height: 150px;
	position: relative;
	margin: 0px 18px;
  font-size: 1em;
}

ul.hover-block li a {
	display: block;
	position: relative;
	overflow: hidden;
	width: 150px;
	height: 150px;
	color: #000;
  line-height: 1.5em;
}

ul.hover-block li a { 
	text-decoration: none;
}

ul.hover-block li .hover-content{
	position: absolute;
	z-index: 1000;
	height: 150px;
	top: 150px;
	color: #fff;
	padding: 5px 0px;
	cursor: pointer;
  text-align: center;
    
}

ul.hover-block li .hover-content h6{
	color: #fff;
}

ul.hover-block img {
  width: 100%;
	position: absolute;
	border: 0;
	z-index: 500;
}


.contact-img {
  background: url(../img/contact.png) no-repeat;
  background-position: top right;
  background-size: contain;
}

.policy h3, .policy h4 {
	padding: 15px 0px 0px 0px;
	margin: 15px 0px;
	border-top: 1px solid #ddd;
}
.policy p {
	padding: 5px 0px;
}
/* Footer */

footer{
	background: #f6f6f6;
	color: #444;
  	margin: 20px 0 0 0;
}

footer a{
	color: #777;
  font-size: 0.85em;
}

footer a:hover{
	color: #1570a6;
}

footer .color{
	color: #444;
}

footer h6{
	color: #444;
}

footer ul{
	list-style-type: none;
  margin-left: 0px;
  padding-left:0px;
}

footer ul li{
	padding: 0px 0px;
}

footer .widgets{
	margin-top: 20px;
}

footer .copy{
	padding: 0px 0px 5px 0px;
	margin: 20px 0 10px 0;
	font-size: 14px;
}
footer .copy-left{
	text-align:left;
}
footer .copy-right{
	text-align:right;
}


/* Responsive */

/* Large desktops and laptops */
@media (min-width: 1200px) {
	header .logo{
		text-align: left;
	}
	.banner {
		text-align: center;
	}
  .banner h2 {
    font-size: 3em !important;
  }
  .banner ul {
  	list-style: none;
    padding-left: 0px; 
  }
  .banner ul li {
  	font-size: 1.2em;
    padding: 2px 0px;
    line-height: 1.5em;
  }
  .banner img {

  }
  footer .copy{
    text-align: center; 
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	header .logo{
		text-align: left;
	}
	.banner {
		text-align: center;
	}
  .banner h2 {
    font-size: 2.85em !important;
  }
  .banner ul {
  	list-style: none;
    padding-left: 0px; 
  }
  .banner ul li {
  	font-size: 0.85em;
    padding: 2px 0px;
    line-height: 1.5em;
  }
  .banner img {

  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	header .logo{
		text-align: center;
	}
	.banner {
		text-align: center;
	}
  .banner h2 {
    font-size: 2.5em !important;
  }
  .banner ul {
  	list-style: none;
    padding-left: 0px; 
  }
  .banner ul li {
  	font-size: 0.95em;
    padding: 2px 0px;
    line-height: 1.5em;
  }
  .banner img {

  }
	footer .copy-left, footer .copy-right{
		text-align:center;
	}

}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar .navbar-nav{
    padding: 0px 60px;

    width: 100%;
  }
	header .logo{
		text-align: center;
	}
	.banner {
		text-align: center;
	}
  .banner h2 {
    font-size: 2.5em !important;
  }
  .banner ul {
  	list-style: none;
    padding-left: 20px; 
  }
  .banner ul li {
    padding: 5px 0px;
    line-height: 1.5em;
  }
  .banner img {
  	width: 30%;
  }
  footer .copy{
    text-align: center; 
  }
  .team_addr blockquote{
  	width: 100%;
    font-size: 80%;
  	height: auto;
  	min-width: 350px;
  }
	footer .copy-left, footer .copy-right{
		text-align:center;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .navbar .navbar-nav{
    padding: 0px 60px;

    width: 100%;
  }
	header .logo{
		text-align: center;
	}
	.banner {
		text-align: center;
	}
  .banner h2 {
    font-size: 2.2em !important;
  }
  .banner ul {
  	list-style: none;
    padding-left: 20px; 
  }
  .banner ul li {
    padding: 5px 0px;
    line-height: 1.5em;
  }
  .banner img {
  	width: 30%;
  }
  footer .copy{
    text-align: center; 
  }
  .team_addr blockquote{
  	width: 100px;
  	min-width: 300px;
    font-size: 80%;
  	height: auto;
  	min-width: 350px;
  }
	footer .copy-left, footer .copy-right{
		text-align:center;
	}
}